[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "WeightSVM"]
	path = WeightSVM
	url = https://github.com/zjph602xtc/wsvm
	shallow = true
	registered = true
[submodule "ZIPFA"]
	path = ZIPFA
	url = https://github.com/cran/ZIPFA
	shallow = true
	registered = true
